<div class="container-fluid px-md-0 gx-0">
  <div class="card mb-3">
      <div class="articles__side row gx-3 bg-dark">
          <div class="container__img col-md-5 mb-3">
              <!-- Imagem -->
              <img
                  src="{{ photoCover }}"
                  alt="Trendy Pants and Shoes"
                  class="img-fluid rounded-start"
              />
          </div>
          <div class="col-md-7 articles__side">
              <div class="card-body px-0">
                  <!-- Título -->
                  <h5 class="card-title">
                      <a [routerLink]="['content', id]">{{ cardTitle }}</a>
                  </h5>
                  <!-- Data -->
                  <p class="card-text">
                      <small class="text-muted">{{ cardDate }}</small>
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
<hr class="hr hr-blurry bg-dark" />
