<app-title></app-title>
<div class="container__articles px-4 mx-auto">
  <div class="row px-md-0">
    <div class="col-md-6">
      <!-- Conteúdo do app-big-card -->
      <app-big-card
        [id]="lastItem.id"
        [cardDate]="lastItem.date"
        [photoCover]="lastItem.photo"
        [cardTitle]="lastItem.title"
        [cardDescription]="lastItem.description"
      ></app-big-card>
    </div>
      <!-- Conteúdo dos app-small-card -->
      <div class="col-md-6">
        <app-small-card
          *ngFor="let item of previousItems"
          [id]="item.id"
          [cardDate]="item.date"
          [photoCover]="item.photo"
          [cardTitle]="item.title"
        ></app-small-card>
      </div>
  </div>
</div>
