hr {
    background-color: #111;
}

.card {
    background-color: #111;
}

.card-title {
    color: #fbfbfb
}

.card-text {
    color: gray;
}

.mask {
    background-color: rgba(251, 251, 251, 0.15);
}

.card-body {
    padding: 0;
}